{% extends 'base.html.twig' %}

{% block title %}Finished Matches!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if data|length > 0 %}
        <h1> <span id="activeSign">⚽️</span> Completed Matches : <span id="activeCount">{{ data|length }}</span></h1>
        <table class="styled-table">
            <thead>
            <tr>
                <th>Match Id</th>
                <th>Home Team</th>
                <th>Score</th>
                <th>Away Team</th>
                <th>Match Date</th>
                <th>Match Details</th>
            </tr>
            </thead>
            <tbody>
            {% for key,value in data %}
            <tr>
                <td>
                    <strong>{{ key }}</strong>
                </td>
                <td>
                    <strong>{{ value.homeData.name }}</strong>
                </td>
                <td>
                    <strong><span id="{{ key }}-homeScore">{{ value.matchData.homeTeamScore }}</span> - <span id="{{ key }}-awayScore">{{ value.matchData.awayTeamScore }}</span></strong>
                </td>
                <td>
                    <strong>{{ value.awayData.name }}</strong>
                </td>
                <td>
                    <strong>{{ value.matchData.matchDate|date('Y-m-d H:i:s') }}</strong>
                </td>
                <td>
                    <strong><a href="/matches/detail/{{ value.matchData.id }}"> <button>Match Details</button></a></strong>
                </td>
            </tr>
            {% endfor %}

            <tr><td style="padding-bottom: 1em;" colspan="3"></td></tr>

            </tbody>
        </table>

    {% else %}
        <h1>⛔️ There is no completed matches ! </h1>
    {% endif %}

</div>
{% endblock %}